//main: main.scss
.ComposentHero{
  margin: 0;
  padding: 0;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;


  .tabs-panel{
    color: white;
    background-color: rgba(51, 70, 103, 0.7);
    border-radius: 1em;
    width: 70%;
    margin: 2em auto;
    h1 {
      text-align: center;
    }

    .VideoIntro{
      width: 80%;
      margin: auto;
    }
      .presentation {
        border-left: 6px solid #00c3ff;
        padding-left: 18px;
        margin-left: 2em;
        margin-top: 18px;
        line-height: 1.6;
      }
        .ListGroup{
          list-style-type: none;
          font-size: 1.3em;
          word-spacing: 3px;
            .icone{
              color: #00c3ff;
              padding: 0.5em 0.5em 0.5em 0;
            }
        }
        .row {
            margin: 0;
        }
		.button {
			display: flex;
			justify-content: space-between;
			> div {
				&.active {
					> button {
						background-color: #ffb033;
                        transform: scale(1.2);
                        > img {
                            transform: scale(1.2);
                        }
					}
				}
				> button {
					outline: none;
					background-color: #334667;
                    width: 8em;
                    height: 8em;
                    border: none;
                    border-top: 3px solid white;
                    border-bottom: 3px solid white;
                    transition: background .1s ease-in;

                    > img {
                        transition: transform .1s ease-in;
                    }
					&:hover {
                        border: 3px solid white;
                        background-color: #ffb033;
                        > img {
                            transform: scale(1.6);

                        }
					}
				}
			}
		}
        .well {
            background-color: rgba(0, 0, 0, 0);
            box-shadow: none;
            border: none;
            w
            > .VideoDesc {
                margin: 0;
            }
        }

        .carouselSkin {
            margin-top: 3em;
          .item {
            height: 34em;
            background-repeat: no-repeat;
            background-size: cover;
          }
          a{
            background: none !important;
          }
        }
  }
}
