@font-face {
  font-family: "Overwatch";
  src: url(../Font/bignoodletitling/big_noodle_titling.ttf);
}

html, body {
  background-color: #222;
  font-family: "Overwatch";
}

.navBar .navTitle {
  font-size: 1.7em;
}

.navBar {
  border-radius: 1px;
  font-size: 2em;
}

.navBar .navTitle {
  color: white;
}

.navBar .navItem {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  color: inherit;
}

.navBar .navItem a {
  text-decoration: none;
  color: inherit;
}

.navBar .navItem a:hover {
  color: #ffb033;
}

.carousel {
  width: 100vw;
  margin: 0 auto;
}

.carousel .carousel-control {
  display: flex;
}

.carousel .carousel-control > img {
  height: 15vh;
  margin: auto 0;
}

.carousel .carousel-control.right img {
  transform: rotateZ(180deg);
  margin-left: auto;
}

.carousel .item {
  height: 93.5vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel .carousel-caption {
  font-size: 3em;
}

.tabs {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #222;
}

.tabs .tabs-panel {
  color: white;
  background-color: rgba(51, 70, 103, 0.7);
  border-radius: 1em;
  width: 70%;
  padding-left: 1em;
  margin: 2em auto;
}

.tabs .tabs-panel h1 {
  text-align: center;
}

.tabs .tabs-panel .VideoIntro {
  width: 80%;
  margin: auto;
}

.tabs .tabs-panel .presentation {
  border-left: 6px solid #00c3ff;
  padding-left: 18px;
  margin-left: 2em;
  margin-top: 18px;
  line-height: 1.6;
}

.tabs .tabs-panel .ListGroup {
  list-style-type: none;
  font-size: 1.3em;
  word-spacing: 3px;
}

.tabs .tabs-panel .ListGroup .icone {
  color: #00c3ff;
  padding: 0.5em 0.5em 0.5em 0;
}

.tabs .tabs-panel .ability {
  display: flex;
  justify-content: space-around;
}

.tabs .tabs-panel .ability .buttonAbility {
  background-color: #334667;
}

.tabs .tabs-panel .ability .buttonAbility .iconAbility {
  background-color: #334667;
  width: 8em;
}

.wrapperHeaderSombra {
  background-image: url("./picture/ImageBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
  padding-top: 10vh;
}

.wrapperHeaderSombra .jumbotron {
  width: 70vw;
  margin: 0 auto;
  padding: 1vh 1vw;
  background-color: rgba(51, 70, 103, 0.7);
  border: 2px white solid;
  padding: 2vh 2vw;
}

.wrapperHeaderSombra .jumbotron h1 {
  color: white;
  padding: 1vh 1vw;
  text-align: center;
}

.wrapperHeaderSombra .jumbotron p {
  font-size: 1.5em;
  width: 70%;
}

.wrapperHeaderSombra .jumbotron .videoPlayer {
  width: 80%;
  margin: 0 auto;
}

.wrapperButton {
  position: relative;
}

.wrapperButton .well {
  position: absolute;
}
