@import "font.scss";
html, body{
    background-color: #222;
    font-family: "Overwatch";
}
#root {
    > nav {
        margin: 0
    }
}
@import "Header.scss";
@import "HomeCarousel.scss";
@import "Hero.scss";
