@font-face {
  font-family: "Overwatch";
  src: url(../Font/bignoodletitling/big_noodle_titling.ttf);
}

html, body {
  background-color: #222;
  font-family: "Overwatch";
}

.navBar .navTitle {
  font-size: 1.7em;
}

.navBar {
  border-radius: 1px;
  font-size: 2em;
}

.navBar .navTitle {
  color: white;
}

.navBar .navItem {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  color: inherit;
}

.navBar .navItem a {
  text-decoration: none;
  color: inherit;
}

.navBar .navItem a:hover {
  color: #ffb033;
}

.carousel {
  width: 100vw;
  margin: 0 auto;
}

.carousel .carousel-control {
  display: flex;
}

.carousel .carousel-control > img {
  height: 15vh;
  margin: auto 0;
}

.carousel .carousel-control.right img {
  transform: rotateZ(180deg);
  margin-left: auto;
}

.carousel .item {
  height: 93.5vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel .carousel-caption {
  font-size: 3em;
}

.jumbotron {
  width: 70vw;
  margin: 0 auto;
  padding: 1vh 1vw;
  background-color: #aaaaaa;
}
