.navBar {
  border-radius: 1px;
}

.navBar .navTitle {
  color: white;
}

.navBar .navItem {
  color: rgba(255, 255, 255, 0.7);
}

.navBar .navItem:hover {
  color: orange;
}

.carousel {
  width: 40vw;
  margin: 0 auto;
}

.carousel .item {
  height: 20vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.tabs {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #222;
}

.tabs .tabs-panel {
  color: white;
  background-color: #334667;
  border-radius: 1em;
  width: 70%;
  padding-left: 1em;
  margin: 2em auto;
}

.tabs .tabs-panel .imgMcCree {
  width: 80%;
  margin: 3em 6.5em;
}

.tabs .tabs-panel .presentation {
  border-left: 6px solid #00c3ff;
  padding-left: 18px;
  margin-left: 6px;
  margin-top: 18px;
  line-height: 1.6;
}

.tabs .tabs-panel .ListGroup {
  list-style-type: none;
  font-size: 1.3em;
}

.tabs .tabs-panel .ListGroup .icone {
  color: #00c3ff;
  padding: 0.5em 0.5em 0.5em 0;
}
