// main: main.scss

.OwLeague {
  font-family: arial !important;
  background-repeat: no-repeat;
  background-size: cover;

  .blockTeam {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .containeurTeam {
      margin: 2em;
      padding: 0;
      background-color: rgba(166,166,166,0.1);
      .jumTop {
        content: "";
        transform: scaleX(1);
        transition: transform 250ms ease-in-out;
        &:hover {
          border-bottom: 3px solid #ff8900;
          transform-origin: 100% 50%;
        }
      }

      hr {
        margin: 0;
      }

      p {
        text-align: center;
      }

      h3 {
        text-align: center;

        &:hover {
          color: #ff8900;
        }
      }

      .seeMore {
        text-align: center;
        margin-bottom: 0.2em;
        padding-bottom: 1em;

        .chevron {
          padding-left: 0.4em;
          transition: transform 0.5s;

          &.activeTab {
            transform: rotate(90deg);
          }
        }

        &:hover {
          border-bottom: 3px solid #ff8900;
        }
      }
    }

    .jumbTeam {
      border-top: 3px white solid;
      margin-left: 2em;
      width: 99em;
      min-height: 30em;
      padding: 1.5em 2em;
      background-color: #E9E9E9;
      padding: 0;

      .conteneurCollapse {
        display: flex;
        padding: 2em;
        color: white;

        .infoTeam {
          display: grid;
          grid-template-columns: repeat(2, 13vw);
          grid-template-rows: repeat(2, 9vw);
          grid-column-gap: 5em;
          margin: 3em 3.5em;

          h3 {
            margin: 0;
          }
        }

        .separation {
          width: 1px;
          height: 23em;
          margin-top: 1em;
          border-left: 2px white solid;
        }

        .joueurs {
          display: flex;
          flex-wrap: wrap;
          max-width: 50%;
          margin-left: 2em;
          justify-content: space-around;
        }
      }

      .conteneurImage {
        background-color: white;

        .teamSkin {
          margin: 2em 15em;
          width: 70em;
          background-color: white;
        }
      }
    }
  }
}
